<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestFull Booking Test Suite">
    <listeners>
        <listener class-name="com.listener.TestListeners"></listener>
    </listeners>

    <test name="RestFull Booking Test">
        <classes>
            <class name="com.restfulBookerTest.RestFullBookingTestCases">


    </class>

    </classes>

</test>

</suite>